{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ПРИЗЫВНИК-75</title>
    <link rel="shortcut icon" href="static/img/ico.png" type="image/x-icon">
    <!-- CSS  -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static '/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static '/css/animate.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- <script src="/static/js/jquery-1.11.1.min.js"></script> -->
    <script src="{% static '/js/jquery-3.0.0.min.js' %}"></script>


</head>

<body>

{% include 'app/modules/header.html' %}

{% if messages %}
    {% for message in messages %}
        <div class=" {% if message.tags %} {{ message.tags }} {% endif %}center-align wow fadeInUp">
            <div class="col s12 black-text">
                <ul>
                    {% for message in messages %}
                        {{ message|safe }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endif %}


{% include 'app/modules/howdowork.html' %}

{% include 'app/modules/trustus.html' %}

{% include 'app/modules/services.html' %}

{% include 'app/modules/carusele_d.html' %}

{% include 'app/modules/faq.html' %}

{% include 'app/modules/footer.html' %}


<!--  Scripts-->

<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/etimer.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 168255788, {
        expandTimeout: "15000",
        tooltipButtonText: "Есть вопрос?"
    });
</script>

</body>

</html>