<a id="rewiews">
<div class=" b_add wow fadeInUp  ">
    <h3 class="black-text indent_title center-align wow fadeInLeft">ОТЗЫВЫ</h3>
        <div class="carousel carousel-slider hight_sl">
          <a href="#one!" class="carousel-item white-text">
            <div class="center">
              <div class="row">
                <div class="rewiews col    m4 ">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons"><img class="product radius" src="static/img/avatar1.gif"></i></h2>
                    <h5 class="center">Роман</h5>
                    <p class="light">Прекрасная организация, все разъяснили, как действовать. Составили четкий и полный
                      план действий. Также успокоили и рассказали, как действовать в следующем призыве. Спасибо огромное
                      ребятам. Обязательно буду работать с ними. Профессионалы!!!! Спасибо. 😃😃😃😃👍👍👍👍👍👍</p>
                  </div>
                </div>
  
                <div class="rewiews col m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons"><img class="product radius" src="static/img/avatar2.jpg"></i></h2>
                    <h5 class="center">Максим</h5>
                    <p class="light">Консультация была на высоком уровне, на имеющиеся вопросы были даны ответы, так же
                      получил хорошие советы</p>
                  </div>
                </div>
  
                <div class="rewiews col m4">
                  <div class="icon-block">
                    <h2 class="center "><i class="material-icons"><img class="product radius" src="static/img/avatar3.jpg"></i></h2>
                    <h5 class="center">Владислав</h5>
                    <p class="light">Обращался со своими проблемами и вопросами. Консультировали без навязывания
                      каких-либо услуг и оплаты. Профессионально и на высоком уровне, работают мастера своего дела.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#Two!" class="carousel-item white-text">
            <div class="row center">
              <div class="row">
                <div class="rewiews col  m4 ">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons"><img class="product radius" src="static/img/avatar4.jpg"></i></h2>
                    <h5 class="center">Никита</h5>
                    <p class="light">Хочу сказать что консультация прошла успешно и настроила на позитивный лад😁 спасибо
                      😉</p>
                  </div>
                </div>
  
                <div class="rewiews col m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons"><img class="product radius" src="static/img/avatar5.jpg"></i></h2>
                    <h5 class="center">Тёма</h5>
                    <p class="light">Всем доброго времени суток, хочу оставить отзыв, очень хорошая консультация, даже не
                      понятливым объясняют очень хорошо</p>
                  </div>
                </div>
  
                <div class="rewiews col m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons"><img class="product radius" src="static/img/avatar6.jpg"></i></h2>
                    <h5 class="center">Никита</h5>
                    <p class="light">Всем привет, хочу оставить отзыв по работе ребят, с военкоматом я борюсь с 2015
                      года, хожу каждый призыв, от сюда планов не построить, даже кредит не взять либо ипотеку, все это
                      безумно раздражало! Я нейтрален к службе, как бы и не рвусь туда, но и не кошу от неё, заберут, так
                      заберут, нет, так нет, но эта неразбериха уже поднадоела! </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
</a>