</div>

<h3 class="red-text indent_title center-align wow fadeInLeft">ТИПИЧНЫЕ НАРУШЕНИЯ, КОТОРЫЕ МЫ НЕ ДОПУСТИМ</h3>

<div class="row ">
    <div class="col s12 m8  offset-m2  font_nar">
        {% for voil in voil %}
            <div class="col s12 m6 black-text wow fadeInUp">
                <p><img class=" img_hight" src="static/img/icons/priority_hight.png">
                {{ voil.text }}
            </div>
        {%endfor %}
    </div>
</div>


<div class="row center-align ">
    <h3 class="black-text indent_title center-align wow fadeInLeft">ВОПРОСЫ И ОТВЕТЫ</h3>
    <div class="col s12 m8 offset-m2 black-text wow fadeInUp">
        <ul class="collapsible" data-collapsible="accordion">
            {% for faq in faq %}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">expand_more</i>
                        {{ faq.questions }}
                    </div>
                    <div class="collapsible-body">
                        <span>
                            {{ faq.asked }}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>