 </div><h3 class="red-text indent_title center-align wow fadeInLeft">ТИПИЧНЫЕ НАРУШЕНИЯ, КОТОРЫЕ МЫ НЕ ДОПУСТИМ</h3>
  <div class="row ">

    <div class="col s12 m8  offset-m2  font_nar">
      <div class="col s12 m6 black-text wow fadeInUp">
        <p ><img class=" img_hight" src="static/img/icons/priority_hight.png">Признание годным к военной службе при наличии непризывного диагноза</p>
      </div>
      <div class="col s12 m6 black-text wow fadeInUp">
        <p ><img class=" img_hight" src="static/img/icons/priority_hight.png">Игнорирование жалоб на здоровье, поверхностный осмотр призывника, утеря медицинских документов</p>
      </div>
      <div class="col s12 m6 black-text wow fadeInUp">
        <p ><img class=" img_hight" src="static/img/icons/priority_hight.png">Изменение ранее установленного диагноза при обследовании по направлению военного комиссариата</p>
      </div>
      <div class="col s12 m6 black-text wow fadeInUp">
        <p><img class=" img_hight" src="static/img/icons/priority_hight.png">Отказ в предоставлении отсрочки от призыва на военную службу</p>
      </div>
    </div>
  </div>
    <div class="row center-align ">
        <h3 class="black-text indent_title center-align wow fadeInLeft">ВОПРОСЫ И ОТВЕТЫ</h3>
      <div class="col s12 m8 offset-m2 black-text wow fadeInUp">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">expand_more</i>Какие гарантии, что я получу военный билет?</div>
              <div class="collapsible-body"><span>Вы заключаете с нами официальный договор , предметом которого является зачисление в запас вооруженных сил и получение военного билета. Условия прозрачны, вы четко понимаете, за что платите. Мы обязуемся довести работу до конца, обеспечить законное получение военного билета.Стоит отметить, что за наш опыт работы  ни один клиент не ушел в армию. В «Расписании болезней» более 2000 заболеваний, по которым призывник освобождается от срочной службы.

              </span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">expand_more</i>Какие сроки?</div>
              <div class="collapsible-body"><span>Мы добиваемся освобождения от службы только на законных основаниях по медицинским показателям, поэтому срок работы индивидуален для каждого призывника. В среднем процесс занимает 1-2 призыва. Чем раньше начнем работать, тем больше шансов получить военный билет за 1 призыв.
              </span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">expand_more</i>А это точно законно?</div>
              <div class="collapsible-body"><span>Если вы первый раз слышите о подобных услугах, то вашу обеспокоенность можно понять. Сразу оговоримся, переживать нет ни малейшего повода. Вы заключаете с компанией Призывник 75,  официальный договор. Мы используем исключительно законные правовые механизмы. Ни у одной проверяющей и контролирующей структуры не возникнет вопросов к нашему клиенту, потому что военные билеты мы не печатаем и не выдаем. Военные билеты наши клиенты получают в своем военкомате по месту проживания. В личном деле призывника есть все необходимые документы, подтверждающие его заболевание и законное право на зачисление в запас вооруженных сил РФ.
              </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Зачем мне обращаться, если у меня уже есть серьезное заболевание?</div>
                <div class="collapsible-body"><span>Дело в том, что непризывной диагноз – это всего лишь 25% от всего объема работы, ведь впереди всевозможные барьеры со стороны сотрудников военкомата. Остальные 75% - это совместная работа, грамотные действия наших экспертов и призывника, для того, чтобы на основании этого диагноза получить военный билет и зачисление в запас вооруженных сил РФ.
                </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>А если я здоров и не когда не обращался к врачу?</div>
                <div class="collapsible-body"><span>Это типичная ситуация. 9 из 10 призывников имеют непризывные заболевания, причем большинство из них даже не догадываются об этом. В «Расписании болезней» более 2000 заболеваний, по которым призывник освобождается от срочной службы. Приходите на бесплатную консультацию и мы расскажем чем сможем помочь именно в вашем случае.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Почему на сайте указанны не точные цены?</div>
                <div class="collapsible-body"><span>Мы понимаем, что вам хочется узнать точную сумму сразу, однако каждый случай индивидуален и отличается по степени сложности и объему работ. В любом случае, цены мы не завышаем, к тому же предоставляем гибкие условия рассрочки без переплат. Если вам где-то обещают «быстрый военник за 30 тысяч», то рекомендуем изучить условия договора, не предоставляют ли вам простые консультации без каких-либо гарантий и результатов.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Хотел бы обратиться, но сейчас нет денег</div>
                <div class="collapsible-body"><span>Специально для таких случаев у нас действует рассрочка платежей (переплата – 0%). Решение вопроса с военкоматом советуем начинать как можно раньше. Нет смысла игнорировать повестки и запускать ситуацию.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>А если купить военный билет или дать взятку врачу?</div>
                <div class="collapsible-body"><span>Крайне не рекомендуем. Во-первых, при ближайшей проверке личных дел, ввиду отсутствия оснований для зачисления в запас, ваш военный билет могут аннулировать. Во-вторых, это грозит уголовным наказанием и вы рискуете провести ближайшие годы даже не в армии, а в тюрьме. Гораздо разумнее действовать законным путем и обратиться за помощью к специалистам.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Если я получу военный билет, то меня не возьмут на госслужбу?</div>
                <div class="collapsible-body"><span>Популярный миф. В данном контексте речь идет об уклонистах, то есть гражданах, не прошедших военную службу и не имеющих на это законных оснований. К тому же, в военном билете ставится лишь категория годности, а конкретный диагноз гражданина составляет врачебную тайну.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Могут ли меня призвать в весенний призыв, если я заканчиваю унивирситет в этом году?</div>
                <div class="collapsible-body"><span>Да, могут. Именно для того, чтобы призывать выпускников ВУЗов, весенний призыв продлили до 15 июля. Раньше он заканчивался 30 июня.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Что будет если "добегать" до 27 лет и потом прийти в военкомат</div>
                <div class="collapsible-body"><span>Во-первых, это незаконно и вас могут привлечь к административной или уголовной ответственности. Во-вторых, есть риск, что вас поймают в 25 или 26 лет и вы все равно уйдете служить. В-третьих, с 1 января 2014 года в закон о воинской обязанности внесены поправки, согласно которым, граждане, не прошедшие военную службу и не имеющие законной отсрочки или иных оснований, в 27 лет получат не военный билет, а «справку уклониста». С такой справкой вам будет отказано в трудоустройстве на работу в государственную службу и в муниципальные организации. Вполне вероятно, что позже ответственность за уклонение будет увеличена.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Я работаю и у меня нет времени ходить по врачам</div>
                <div class="collapsible-body"><span>Мы не можем пройти обследование за вас. Нужно ваше личное присутствие. Но посещение врачей можно минимизировать, делать обследования порциями. В удобное для вас время (после или до работы), в выходной день.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Что делать если я получил повестку на отправку в войска?</div>
                <div class="collapsible-body"><span>В большинстве случаев такую повестку можно обжаловать в судебном порядке. С момента подачи заявления в суд, призывник освобождается от призыва до вынесения решения суда. Для того, чтобы узнать возможно ли это в вашем случае, позвоните нам или оставьте заявку на консультацию. Наши специалисты разберутся в вашей ситуации в ближайшее время.</span></div>
            </li>

          </ul>
      </div>
    </div>
 </div>