<div id="index-banner" class="parallax-container b_head ">
    <div class="navbar-fixed">
        <nav class="navigation">
            <a id="logo-container" href="#" class="brand-logo">ПРИЗЫВНИК-75</a>
            <div class="nav-wrapper ">

                <ul class="right hide-on-med-and-down">
                    <div class="white-text">
                        <li><a href="#contact">КОНТАКТЫ</a></li>
                        <li><a href="#uslugi">УСЛУГИ</a></li>
                        <li><a href="#plus">ПРЕИМУЩЕСТВА</a></li>
                        <li><a href="#">СПИСОК БОЛЕЗНЕЙ</a></li>
                        <li><a href="#rewiews">ОТЗЫВЫ</a></li>
                        <li><i class="material-icons prefix ">phone</i></li>
                        <li><a href="#"><p class="u_icon">+7914-355-80-91</p></a></li>
                    </div>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#contact">КОНТАКТЫ</a></li>
                    <li><a href="#uslugi">УСЛУГИ</a></li>
                    <li><a href="#plus">ПРЕИМУЩЕСТВА</a></li>
                    <li><a href="#">СПИСОК БОЛЕЗНЕЙ</a></li>
                    <li><a href="#rewiews">ОТЗЫВЫ</a></li>

                    <li><a href="#"><p class="u_icon">+7914-355-80-91</p></a></li>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <div class="container ">
        <div class="row b ">
            <div class="parallax "><img src="static/img/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>
    </div>


    <div class="row center-align ">
        <div class="col s12 m3">
            <img style="width:100%" src="static/img/logo.png"/>
        </div>
        <div class="col s12 m7">
            <h1 class=" ">ЗАЩИТА ПРАВ ПРИЗЫВНИКОВ</h1>
            <h4 class=" ">Забайкальский край</h4>
        </div>
        
        <div class=" white-text col s12 m12">
            <h5>Запишись на бесплатную консультацию</h5>
        </div>
        <div class=" col s12 m12 center-align b_add">
            <form class="col s12 m6  center-align offset-m3" method="post" action="mail"> {% csrf_token %}
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="l_name" type="text" class="validate white-text" name="name" id="first_name" required>
                    <label for="l_name">Как вас зовут</label>
                </div>

                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">phone</i>
                    <input id="l_number" type="tel" name="tel" class="validate white-text" required>
                    <label for="l_number">Номер телефона</label>
                </div>

                <div class="input-field col s12 ">
                    <textarea id="textarea1" name="dis" class="materialize-textarea"></textarea>
                    <label for="textarea1">Сообщение</label>
                </div>
                <div class="col s12 center-align">
                    <label>
                        <input required type="checkbox" name="check"/>
                        <span>Согласен на обработку <a href="politika" class="white-text bor-text"><u>персональных данных</u></a> </span>
                    </label>
                </div>
                <div class="col s12">
                    <button id="sub_btn" class="btn waves-effect waves-light consult modal-trigger wow pulse" type="submit"
                            name="action">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
                        <i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>
</div>
