<div class="bb">
    <div class="container">
        <div class="section">
            <h3 class="indent_title center-align ">КАК МЫ РАБОТАЕМ</h3>
            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align">
                    <img class="p_size" src="static/img/free con.png">
                </div>
                <div class="col s12 l6 black-text">
                    <h5>Бесплатная консультация с анализом всей ситуации и документов</h5>
                </div>
            </div>
            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align ">
                    <img class="p_size" src="static/img/plan.png">
                </div>
                <div class="col s12 l6  black-text">
                    <h5>Составление индивидуального плана с нашими экспертами</h5>
                </div>
            </div>

            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align">
                    <img class="p_size" src="static/img/doctor.png">
                </div>
                <div class="col s12 l6  black-text">
                    <h5>Прохождение бесплатного медицинского обследования</h5>
                </div>
            </div>

            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align ">
                    <img class="p_size" src="static/img/support.png">
                </div>
                <div class="col s12 l6  black-text">
                    <h5>Сопровождение на всех этапах взаимодействия с военкоматом</h5>
                </div>
            </div>

            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align">
                    <img class="p_size" src="static/img/pdocument.png">
                </div>
                <div class="col s12 l6  black-text">
                    <h5>Подготовка пакета документов</h5>
                </div>
            </div>

            <div class="row wow fadeInUp">
                <div class="col s12 l3 center-align">
                    <img class="p_size" src="static/img/bilet.png">
                </div>
                <div class="col s12 l6  black-text">
                    <h5>Получение военного билета/отсрочки</h5>
                </div>
            </div>
        </div>
    </div>