<div id="uslugi" class="section">
    <div class="row center-align">
        <h3 class="black-text indent_title center-align wow fadeInLeft">Услуги</h3>
      <div class="col s12 m12 ">

        <div class="col s12  m4 black-text wow fadeInUp">
            <div class="icon-block z-depth-3 t-block " data-title="ЦЕНА: 3 400Р">
              <img class="pt_size" src="static/img/t_plan.jpg">
              <h5 class="center">Составление индивидуального плана</h5>

              <p class="light">Составление индивидуального плана и изучение (сопоставление) медицинских документов с постановлением правительства №565 "Об утверждении Положения военно-врачебной экспертизе</p>
            </div>
        </div>

          <div class="col s12 m4 black-text wow fadeInUp">
            <div class="icon-block z-depth-3 t-block " data-title="БЕСПЛАТНО">
              <img class="pt_size" src="static/img/t_consult.jpg">
              <h5 class="center">Бесплатная консультация</h5>

              <p class="light">На консультации разбираются права призывника, вопросы взаимодействия с военкоматом, сопоставляется медицинская документация призывника с Приложением к положению о Военно-врачебной экспертизе (Расписание болезней).</p>
            </div>
          </div>


          <div class="col s12 m4 black-text wow fadeInUp">
            <div class="icon-block z-depth-3 t-block" data-title="ЦЕНА: от 29 000Р">
              <img class="pt_size" src="static/img/t_yourid.jpg">
              <h5 class="center">Юридическое сопровождение</h5>

              <p class="light">Данный пакет услуг для тех, кому требуется помощь в юридической области. Сбор и подготовка документов. Юридические консультации и сопровождение. Обжалование решения призывной комиссии (составление искового заявления, представление интересов в суде и т.д . )</p>
            </div>
          </div>
          <div class="col s12  m4 black-text wow fadeInUp">
              <div class="icon-block z-depth-3 t-block "data-title="ЦЕНА: от 29 000Р">
                <img class="pt_size" src="static/img/t_povestka.jpg">
                <h5 class="center">Повестка на отправку</h5>

                <p class="light">Данный договор предназначен для тех у кого на руках "боевая повестка".</p>
              </div>
            </div>

            <div class="col s12 m4 black-text wow fadeInUp">
              <div class="icon-block z-depth-3 t-block  "data-title="ЦЕНА: от 29 000Р">
                <img class="pt_size" src="static/img/t_otsroc.jpg">
                <h5 class="center">Отсрочка на один призыв</h5>

                <p class="light">Данная услуга предназначена для тех, кто хочет получить отсрочку от армии на один призыв Например, для того, что бы окончить обучение в ВУЗе, не имея отсрочек по учебе или другого вида отсрочек от военной службы.</p>
              </div>
            </div>


            <div class="col s12 m4 black-text wow fadeInUp">
              <div class="icon-block z-depth-3 t-block" data-title="ЦЕНА: от 29 000Р">
                <img class="pt_size" src="static/img/t_uprashen.jpg">
                <h5 class="center">Пакет "упрощенныый"</h5>

                <p class="light">Предоставления неограниченного количества консультация по военному праву до получения военного билета. Содействие в проведении медицинского обследования. Контроль на всех этапах.</p>
              </div>
              </div>

              <div class="col s12  m4 black-text wow fadeInUp">
                  <div class="icon-block z-depth-3 t-block "data-title="ЦЕНА: 29 000Р">
                    <img class="pt_size" src="static/img/t_prodvinut.jpg">
                    <h5 class="center">Пакет "Продвинутый"</h5>

                    <p class="light">анный тип договора предусмотрен для призывников, возраст которых от 17 до 27 лет. При заключении этого договора, все медицинские обследования полностью входят в стоимость договора. Обследование проводится в учреждениях города за счет исполнителя.
                        Такой вид договора выбирают те, у кого нет никаких жалоб по состоянию здоровья, либо требуется полное и тщательное обследование.</p>
                  </div>
                </div>

                <div class="col s12 m4 black-text wow fadeInUp">
                  <div class="icon-block z-depth-3 t-block "data-title="ЦЕНА: от 29 000Р">
                    <img class="pt_size" src="static/img/t_vb27.jpg">
                    <h5 class="center">Военный билет после 27-ми лет</h5>

                    <p class="light">Помощь в получении военного билета гражданам по достижению 27-ми лет.</p>
                  </div>
                </div>


                <div class="col s12 m4 black-text wow fadeInUp">
                  <div class="icon-block z-depth-3 t-block" data-title="ЦЕНА: от 29 000Р">
                    <img class="pt_size" src="static/img/t_voen.jpg">
                    <h5 class="center">Помощь военнослужащим</h5>

                    <p class="light">Защита прав и интересов военнослужащих</p>
                  </div>
                  </div>
                  <div id="doverie" class="section">


      </div>
  </div>
  </div>

