<div id="plus" class="row center-align b_nar ">
    <div class="col s12 m12 wow ">
        <h3 class="black-text indent_title center-align wow fadeInLeft">ПОЧЕМУ НАМ ДОВЕРЯЮТ БОЛЬШЕ, ЧЕМ ДРУГИМ</h3>
        {% for trust in trust %}
            <div class="col s12  m4 black-text wow fadeInUp">
                <div class="icon-block z-depth-3 d-block ">
                    <img class="pd_size" src="{{ trust.picture.url }}">
                    <h5 class="center">{{ trust.titel }}</h5>

                    <p class="light">
                        {{ trust.text }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>